.container{
    background-color: red;
    display: flex;

    flex-flow: row wrap;
    justify-content: space-around;
    
    align-items: center;
    flex-wrap: wrap; 
     align-content:space-around; 
    height: 400px;
}

.flex-child{
    background-color: yellow;
    margin: 20px;
    padding :20px;
    width: 100px;
    text-align: center;
}
#one{
    align-self: flex-start;;
}

#two{
     align-self:center; 
}

#three{
    align-self: flex-end;   
}